body {
  background: url("assets/background.png") no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  color: cyan;
  font-size: 70px;
  margin: 50px;
  padding: 0;
  list-style: none;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  color: cyan;
  font-size: 70px;
  margin: 50px;
  padding: 0;
  list-style: none;
}

/* tools */

.logoTwitter {
  float: right;
  margin-right: 300px;
}

.logoDiscord {
  float: left;
  margin-left: 300px;
}
